.product__figure {
    height: 300px;
    width: auto;
}

.product__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.product__container {
    display: flex; 
    flex-direction: column;
    border-radius: 8px;
}

.bottom__container{
    padding-top: 14px;
}

.product__title {
    margin-bottom: 8px;
}

.price__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

